
button.btnhover{
    width: 200px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75);
}

.btnhover:focus {
    outline: none;
}

.btnhover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

div.connected{
  display: flexbox;
  padding: 1.5em;
  width: 30%;
  height: 24% ;
  position: absolute;
  margin: auto;
  top:0;
  bottom: 0;
  right:0;
  left:0;
  color: greenyellow;
  background-color: greenyellow;
  border-radius: 15px;

  background-image: linear-gradient(to right, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 8px 0 rgba(27, 27, 27, 0.75);
}

.useradr{
  font: 15px Montserrrat, Arial, sans-serif;
  font-weight: 600;
  color: darkslategray;
  margin-top: 8px;
}

.infohead{
  color: rgb(241, 241, 241);
  font-size: 10px;
  font-weight: 400;
  margin: 0px;
}


.infohead span{
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
  background-color: grey;
  opacity: 0.8;
}


div.connectedbal{
  display: flex;
  align-items: center;
  justify-content: center;
}

div.baleth{
  margin-left: 0;
  margin-right: auto;
}

div.connectedbal1{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.bal{
  color: darkslategray;
  font-weight: 500;
  font-size: 34px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.wei{
  color: grey;
  font-weight: 500;
  font-size: 10px;
  margin-bottom: 1px;
  margin-left: 3px;
}
